body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header {
  align-items: center;
  background: #1c1c1c;
  display: flex;
  height: 50px;
  padding: 10px 20px;
  position: relative;
}

#header .left,
#header .right {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.header-icon {
  width: 30px;
  height: 30px;
}

.header-button {
  cursor: pointer;
}

#header .right {
  justify-content: flex-end;
}

#logo {
  align-items: center;
  display: flex;
  opacity: 0.75;
}

#info-button {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

#expression {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  text-align: center;
  flex: 1;
}

#expression .hide {
  display: none !important;
}

#expression .content {
  position: relative;
}

#expression .content span {
  color: #f1f1f1;
  cursor: default;
  display: inline-block;
  flex: 1;
}

#expression .content .edit-icon {
  position: absolute;
  height: 100%;
  top: -3px;
  right: -20px;
}

#expression input {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #999;
  flex: 1;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
}

#variant-selector {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 100;
}

#variant-selector .item {
  align-items: center;
  background: #1c1c1c;
  border: 1px solid #111111;
  box-sizing: border-box;
  display: flex;
  color: #eee;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}
#variant-selector .item:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#variant-selector .item:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#variant-selector .item.active {
  background: #fff;
  color: #222;
}

#variant-selector .item span {
  width: 100%;
}

#diagram-container {
  background-color: #f1f1f1;
  display: flex;
  flex: 1;
  position: relative;
}

#graphviz {
  flex: 1;
  position: relative;
}

#graphviz svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    zoom: 0.75;
  }
}
